* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #36365a;
    color: #eee;
    display: flex;
    justify-content: center;
}

.darts {
    width: 100rem;
    height: 100vh;
    background-color: #3296a3;
    box-shadow: 0 0.5rem 3rem rgba(0,0, 0, 0.5);
    
}

.fixplayer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fixplayer button {
    width: 100%;
    height: 5rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(145, 92, 182, 0.7);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    text-align: center;
    font-size: 2rem;
}



.players {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}


.otherplayer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.otherplayer button {
    
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(145, 92, 182, 0.7);
    padding: 5px;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    text-align: center;
    font-size: 1.5rem;
}

.downbutton {
    box-shadow: inset 5px 5px 10px rgba(0,0, 0, 0.5);
}

.players input {
    margin: 0 10px;
}
.hove:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    cursor: pointer;
  }


.realplayer {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.realplayer button{
    width: 10rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(145, 92, 182, 0.7);
    padding: 5px;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.realplayer p{
   font-size: 3rem;
   font-weight: 600;
   color: rgb(255, 253, 240);
   text-shadow: 0 0.3rem 0.5rem rgb(145, 119, 50);
}


.realplayer i:hover {
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    cursor: pointer;
}

.table {
    width: 70%;
    display: flex;
    justify-content: center;
}

.name {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    flex-basis: 1;
}

.rounds {
    width: 100%;
    
}

.rounds .round {
    width: 100%;
    display: flex;
    flex-basis: 1;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    font-size: 2.5rem;
}
.name div,
.round div {
    width: 4rem;
    
}

.target {
    color: rgb(213, 223, 124);
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0, 0, 0.5);
}

@media screen and (max-width: 1090px) {
    .darts {
        width: 100%;
    }
    .fixplayer button {
        width: 100%;
    }
}

.all ul {
    display: flex;
    justify-content:flex-start;
}
.all li {
    width: 10%;
}


.click {
    cursor: pointer;
}


.round button{
    width: 10rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(145, 92, 182, 0.7);
    padding: 5px;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    text-align: center;
}